<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NASA</title>
    <% include ./partials/header %>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>NASA explorer</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>
      <div class="row">
        <strong>user</strong>: <%= user %><br>


          <button type="button" id='day'></button>
          <div class="planet-list">
            <button type="button" id='neptune'>neptune</button>
            <button type="button" id='uranus'>uranus</button>
            <button type="button" id='saturn'>saturn</button>
            <button type="button" id='jupiter'>jupiter</button>
            <button type="button" id='mars'>mars</button>
            <button type="button" id='earth'>earth</button>
            <button type="button" id='venus'>venus</button>
            <button type="button" id='mercury'>mercury</button>
            <button type="button" id='pluto'>pluto</button>
          </div>

        <div id="today">
          <pre id="reqObject"><%= day.date %></pre>
          <img id="apod_img_id" width="350px"/>
          <iframe id="apod_vid_id" type="text/html" width="640" height="385" frameborder="0" src='<%=day.url %>'></iframe>
          <p id="copyright"><%= day.copyright %></p>
          <h3 id="apod_title"><%= day.title %></h3>
          <p id="apod_explaination"><%= day.explanation %></p>
        </div>
        <div id="planet">


        </div>
      </div>
    </div>
  </body>
</html>
